jupyter
numpy
acids-rave
gdown
wget
tqdm
wandb 
ninja
torch
torchvision
torchaudio
torchtext
markovify
scikit-learn
scikit-image
opencv-python
transformers
matplotlib
datasets 
jupyter
pandas
tiktoken 
albumentations
onnxruntime
Pillow
imageio
sounddevice
librosa
open_clip_torch
gallery-dl
ultralytics
pydantic